* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  font-family: 'Inter';
}

header {
  height: 100px;
  background-color: #d9d9d9;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* gap: 15px; */
  padding: 1rem 2rem;
  margin: 0 auto;

}

#root-container {
  padding: 1rem 3rem;
}

.block-container {
  /* display: inline-block; */
  flex-direction: column;
}

.block-children {
  --initial-inset-x: 0px;
  --initial-inset-y: 0px;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  background-color: #F8F8FF;
  border-radius: 5px;
  width: 600px;
  height: 50px;
  margin-bottom: 15px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  z-index: 1;
}

.block-children > .block-container {
  /* transform: translateX(calc(var(--initial-inset-x) + 40px)) translateY(calc(var(--initial-inset-y) + 65px)); */
  /* padding-top: calc(var(--initial-inset-y) + 65px); */
  margin-left: calc(var(--initial-inset-x) + 45px);
}